/* Cores e fontes */
:root {
  --menu-color: #4524AD;
  --text-color: #EFE7E0;
  --background-one: #D2C9F0;
  --background-two: #AD580E;
}
/* Estilos iniciais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  margin: 3px;
}

header,
nav,
section,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Cabecalho */
header {
  flex: 1 1 100vw;
  background-color: var(--menu-color);
}

nav#navbar {
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 200px;
}

#navbar a {
  margin: 0 3%;
  font-size: 20px;
  color: var(--text-color);
}

/* Section Welcome */
#welcome-section {
  flex: 1 1 100vw;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-one);
}

#welcome-section h1 {
  font-size: 64px;
  line-height: 86px;
}

#welcome-section p {
  font-size: 30px;
  line-height: 40px;
}

/* Section Projects */
main {
  flex: 1 1 100vw;
}

main section#projects {
  width: 100%;
  flex-direction: column;
  background-color: var(--background-two);
  color: var(--text-color);
}

section#projects h2 {
  font-size: 40px;
  line-height: 55px;
}

#projects .project-tile {
  padding: 24px 64px;  
}

.project-tile a {
  padding: 12px 32px;
  color: var(--text-color);
}


/* Section Contact */
section#contact {
  flex: 1 1 100vw;
  flex-direction: column;
  background-color: var(--background-one);
  padding-bottom: 3%;
  border-bottom: 5px solid var(--menu-color);
}

/* Rodape */
footer {
  flex: 1 1 100vw;
  padding-top: 3%;
  background-color: var(--background-one);
}