@charset "UTF-8";

/* Colors and Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');

:root {
  --bg-primary-color: #B8621B;
  --bg-secondary-color: #262A56;
  --bg-third-color: #E3CCAE;
  --text-color: #000000;
  --secondary-text-color: #fff; 
  --primary-font: 'Open Sans', sans-serif;
}

/* Estilos iniciais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}

.subtitle {
  text-align: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 100vh max-content max-content max-content 80px;
  grid-template-areas: 
  "header"
  "welcome"
  "projects"
  "article"
  "contact"
  "footer";
}

/* Cabecalho */
header {
  background-color: var(--bg-primary-color);
  grid-area: header;

  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
}

li {
  list-style-type: none;
}

nav#navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 3.75em;
}

.nav-item a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: var(--secondary-text-color);
  transition: 0.3s ease;
}

.nav-item a:hover {
  opacity: 0.6;
}

/* Section Welcome */
section#welcome {
  background-color: lightcoral;
  grid-area: welcome;
}

/* Section Projects */
section#projects {
  grid-area: projects;
}

article {
  background-color: blueviolet ;
  grid-area: article;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.card-img a {
  background-color: yellow;
  text-align: center;
  display: block;
}


/* Section Contact */
section#contact {
  background-color: cadetblue;
  grid-area: contact;
}

footer {
  background-color: chocolate;
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer p, footer a {
  text-align: center;
}